asgiref==3.11.0
dj-database-url==3.1.0
Django==6.0.1
django-environ==0.12.0
gunicorn==25.0.1
packaging==26.0
pillow==12.1.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
sqlparse==0.5.5
whitenoise==6.11.0
cloudinary==1.42.2
django-cloudinary-storage==0.3.0
